.main_section {
  height: 80vh;
  background-image: url(../img/main_section_bg.png);
  .main_title {
    font-weight: 400;
    font-size: 62px;
    line-height: 84px;
    color: $white_color;
  }
  .main_prg {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $white_color;
    opacity: 0.7;
  }
}

